table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

.receipt{
  width: 30%;
}

.loader {
  display:none;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #27bb5f;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 0.8s linear infinite;
}

#logo {
  width: 100px;
}
.header {
  display:flex;
  align-items: center;
  justify-content: stretch;
}

.body { 
  display:flex;
  align-items: top;
  justify-content: stretch;
}
.receipt {
  width:30%;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

